@use '../../../styles/variables' as v;

.gallery {
  margin: 1rem;
  text-align: center;
}

.card {
  display: flex;
  background-color: v.$l-blue;
  margin: 0.5rem;
  pad: 0.5rem;
  border-radius: 0.5rem;
}
